<nav>
<div class="container-md">
    
<div class="navbar navbar-expand-lg navbar-light ">
    <div class="text-info">
         <a class="nav-link" href="/">BLUEWOM APP</a>
        
    </div>
  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbarSupportedContent">
        
        <li class="nav-item">
        <a href="/list">Supported list of NBP</a>
        </li>
        
        </ul>
    </div>

</div>
</div>
</nav>

