<nav>
<div class="container-md">
    
<div class="navbar navbar-expand-lg navbar-light ">
    <div class="text-info">
         <a class="text-info" href="/">RESTART APP</a> 
    </div>
    <div class="text-info space-left" id="btnClear">
         <a class="text-danger" href="/">CLEAR STORAGE</a> 
    </div>
  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbarSupportedContent">
        
        <li class="text-info">
         <a class="text-info " href="/list">Supported list of NBP</a>
        </li>
        
        </ul>
    </div>

</div>
</div>
</nav>

