{{#if array}}
<div>
    <p class="text-white">Here are your currencies: </p>
</div>
{{/if}}
{{!--  --}}
<div class="card" id="card-add-currency" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">ADD CURRENCY</h5>
  </div>
  
  <div class="card-body">
    <input id="currencyName" type="text" >
    <button class="btn btn-primary" id="btnAdd">Add</button>
  </div>
  
</div>

{{!--  --}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">POSITON</th>
      <th scope="col">CODE</th>
      <th scope="col">RATE</th>
      <th scope="col">REMOVE </th>
    </tr>
  </thead>
  <tbody id="table">
    
  </tbody>
</table>