* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #0e44af;
}

.container-md {
  background-color: #fff;
}
/* TABLE */
.table {
}

/* HEADER - views/partials/_navbar.hbs */
nav {
  background-color: #fff;
  margin-bottom: 30px;
}
.navbar {
  line-height: 60px;
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
}

.btn-nav {
  margin-left: 0%;
}
.ml-auto {
  margin-right: 0%;
}
#card-add-currency {
  padding: 10px;
  position: fixed;
  top: 90px;
  left: 10px;
}

.space-left {
  margin-left: 35px;
}

/* -----------------------------------MEDIA-------------------------  */
@media (max-width: 1670px) {
  .table {
    margin-top: 220px;
  }
}

#card-add-currency input {
  width: 70%;
}
